*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    width: 100%;
    position: fixed;
    border: solid #FFFFFF;
    border-width: 0 0 0.5px;
}
.logo img{
    display: flex;
    margin: 1rem;
}
@media screen and (max-width:520px) {
  .logo img{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;


}
}

.navbar{
    display: flex;
    margin-right: 10px;
    font-size: 12px;
}
.navbar a{
    color: white;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}
.navbar a:hover{
    background-color:rgb(59, 156, 247);
}
@media screen and (max-width: 520px){
  .navbar{
    display: flex;
    font-size: 10px;
    margin-right: 1rem;
  }
  
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: rgb(59, 156, 247);
  }

.content{  /*esto es una configuracion de los content en general*/
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 100vh !important;
    background: url(./img/pexels-sirirak-boonruangjak-907274.jpg)no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
}


.header .title{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 2rem;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-shadow: 0 0 20px black;
}
.header p{
    margin: 20px;
    color: white;
    font-size: 16px;
    text-shadow: 0 0 10px black;
}



.btn {
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    border: 2px solid rgb(59, 156, 247);
    background-color: rgb(59, 156, 247);
}

.btn:hover{
    background:none;
}
.btn-title{
    display: flex;
}
.btn-title a{
    margin: 0 10px;
}
.wave{
  z-index: 100;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nosotros{ 
    height: 30vh;
    background-color: #fcf2e8;
    /*background: linear-gradient( rgb(255, 255, 255), black);*/
    padding: 78px 0;
}
.nosotros h2{
  font-family: 'Raleway', sans-serif;
    max-width: 100%;
    font-size: 24px;
    color:rgb(90, 90, 90)
}
.nosotros p{
  font-size: 24px;
  margin-top: 30px;
  color: rgb(42, 108, 170);
}
.caracteristicas h2{
  font-family: 'Raleway', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: rgb(90, 90, 90);
}

  .box1{
    display: flex;
    height: 50vh;
    background-color: white;
    margin: 1rem;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: auto auto ;
  }

  @media screen and (max-width: 520px){
    .box1 {
    flex-wrap: wrap;
    margin-bottom: 5rem;
    }
  }

  .caracteristicas .title-caract h2{
    font-family: 'Raleway', sans-serif;
  }
  @media screen and (max-width: 520px){
    .caracteristicas h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
      text-align: center;
    }
  }

  .boxx{
    margin: 1rem;
  }

  .box1 .box-img{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 520px){
    .box1 .box-img {
      width: 70%;
    }
  }

  .box-description{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: start;
  }
  @media screen and (max-width: 520px){
    .box-description {
      font-size: 1rem;
      text-align: center;
    }
  }

  .desc-title {
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem 0 1rem 0;
    font-size: 2rem;
    margin: 1rem;
    color: rgb(90, 90, 90);
  }
  @media screen and (max-width: 520px){
    .desc-title {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .desc-p{
    font-size: 1rem;
    padding: 0.5rem 0 1rem 0;
    margin: 1rem;
  }
  .box-description p {
    color: rgb(126, 126, 126);
  }

  @media screen and (max-width: 520px){ 
    .box-description p {
      font-size: 1rem;
      text-align: center;
      margin-top: -1rem;
    }
  }

  .software{
    background-color: rgb(59, 156, 247) ;
    display:block;
    align-items: center;
  }
  .box2{
    height: 70vh;
    display: flex;
    margin: 0rem;
    align-items: center;
    justify-content: space-evenly;
    grid-template-rows: auto auto ;
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 520px){
    .box2 {
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    }
  }

  .container-img{
    margin: 2rem;
  }
  .img-soft{
    width: 70%;
    height: auto;
    border-radius: 1rem;
  }

  .box-description .title{
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    font-size: 2rem;
    margin: 1rem;
  }
  .btn-s {
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background-color: white;
}

.btn-s:hover{
    background-color: rgb(59, 156, 247);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
.btn-soft{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn-soft a{
    color: rgb(59, 156, 247);
    margin: 0 10px;
}


  



